.cover-collection {
  width: 100%;
  min-height: 400px;
  border-radius: 5px;
}

.my-collection-title {
  color: #fff;
  font-size: 28px;
}

.meta {
  display: flex;
  justify-content: space-between;
  color: gray;
}
